*{
	margin:0;
	padding: 0;
	box-sizing: border-box;

}

body{
	front-family:'open sans';
}
/*.contenedor{
	padding:  60px 0;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}*/
.textos-header{
	color: #ac538866;
	font-size: 10px;
	text-align: center;
	margin-bottom: 10000px;
}
/*header*/
/*header*/body{
	width: 100%;
	height: 600px;
    background: #ab548875;  
    background: -webkit-linear-gradient(to top, hsla(279, 68%, 19%,0.459), hsla(324, 100%, 50%, 0.459)), url(../CSS/estudiante1.png);
 /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, hsla(279, 67%, 19%,0.459), hsla(324, 100%, 50%, 0.459)), url(../CSS/estudiante1.png );
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    background-size: cover ;
    background-attachment: fixed;
    position: relative;
}
/*nav{
	text-align: right;
	padding: 30px 50px 0 0;
}

nav > a{
	color: #ffff;
	font-weight: 300;
	text-decoration: none;
	margin-right: 10px;
}*/
/*nav > a:hover{
	text-decoration: underline;
}*/
header .textos-header{
	display: flex;
	height: 430px;
	width: 100%;
	align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.textos-header h1{
	font-size: 100px;
color: #ffff;
}

.textos-header h2{
	font-size: 50px;
	font-weight: 300px;
    color: #ffff;
}
.wave{
	position: absolute;
	bottom: 0;
	width: 100%;
}